<section class="articles" id="articles">
    <h2 class="title-articles">3 Reasons to purchase</h2>
    <article class="article art1">
        <h3 class="title-article">Ut sed metus</h3>
        <p class="text-article">Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article class="article art2">
        <h3 class="title-article">Curabitur ac erat</h3>
        <p class="text-article">Mauris mattis urna quis loren molestie.</p>
    </article>
    <article class="article art3">
        <h3 class="title-article">Morbi dictum</h3>
        <p class="text-article">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a class="button-orange">More reasons</a>
</section>