<section class="articles" id="articles">
  <h2 class="title-articles">Comienzos que te dejarán con ganas de más...</h2>
  <section class="all-articles">
    <include
      src="./frame-articles.html"
      title="Maya Angelou"
      text="Podrás describirme en la historia
      con mentiras retorcidas,
      Podrás arrastrarme en la basura misma.
        Aún así, como el polvo, me levanto."
    >
    </include>
    <include
      src="./frame-articles.html"
      title="Shirley Campbell"
      text="Me niego rotundamente
      A negar mi voz,
      Mi sangre y mi piel.
      Y me niego rotundamente
      A dejar de ser yo."
    >
    </include>
    <include
      src="./frame-articles.html"
      title="Elvira Sastre"
      text="Miradnos.
      Somos la luz de nuestra propia sombra,
      el reflejo de la carne que nos ha acompañado,
      la fuerza que impulsa a las olas más minúsculas."
    >
    </include>
  </section>
  <a
    class="button-orange"
    title="Enlace a los poemas"
    href="https://www.diariofemenino.com/amor/poemas-de-amor/14-poemas-para-el-dia-de-la-mujer-poesias-feministas-imprescindibles/"
    target="_blank"
    >Descúbrelos</a
  >
</section>
