<section class="articles" id="articles">
    <h3 class="title-articles">3 Reasons to purchase</h2>
    <section class="all-articles">
        <include
        src="./frame-articles.html"
        title="Ut sed metus"
        text="Lorem ipsum dolor sit amet, consectetur."
        >
        </include>
        <include
        src="./frame-articles.html"
        title="Curabitur ac erat"
        text="Mauris mattis urna quis loren molestie."
        >
        </include>
        <include
        src="./frame-articles.html"
        title="Morbi dictum"
        text="Aliquam in dolor et dolor tincidunt."
        >
        </include>
    </section>
        <a  class="button-orange" title="20 Reasons Makes People Buy" href="https://www.clickz.com/what-makes-people-buy-20-reasons-why/49355/" target="_blank">More reasons</a>
</section>