<footer class="footer">
    <div class="ball-footer">
      <p class="ball-arrow">
        <a class="arrow" title="Up" href="index.html#header"><img src="./assets/images/ico-arrow.svg" alt="flecha para arriba"/></a>
      </p>
    </div>
    <nav>
      <ul class="nav-footer1">
        <li><a class="link-footer" title="Página web Adalab" href="https://adalab.es/" target="_blank">Articles</a></li>
        <li><a class="link-footer" title="Página web Adalab" href="https://adalab.es/" target="_blank">Books</a></li>
        <li><a class="link-footer" title="Página web Adalab" href="https://adalab.es/" target="_blank">Events</a></li>
        <li><a class="link-footer" title="Página web Adalab" href="https://adalab.es/" target="_blank">Reasons</a></li>
        <li><a class="link-footer" title="Página web Adalab" href="https://adalab.es/" target="_blank">Tips</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="nav-footer2">
        <li><a class="link-footer" title="Página web Adalab" href="https://adalab.es/" target="_blank">Twitter</a></li>
        <li><a class="link-footer" title="Página web Adalab" href="https://adalab.es" target="_blank">Instagram</a></li>
        <li><a class="link-footer" title="Página web Adalab" href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
      </ul>
    </nav>
    <section class="copy-phraseicon">
      <p class="copy">&copy;2022</p>
      <p class="phraseicon">We<i class="fa-solid fa-heart"></i>components</p>
    </section>
  </footer>