<footer class="footer">
    <div class="ball-footer">
      <p class="ball-arrow">
        <a class="arrow" title="Arrow" href="index.html#header"><img src="./assets/images/ico-arrow.svg" alt="flecha para arriba"/></a>
      </p>
    </div>
    <nav>
      <ul class="nav-footer1">
        <li><a class="link-footer" href="https://adalab.es/">articles</a></li>
        <li><a class="link-footer" href="https://adalab.es/">books</a></li>
        <li><a class="link-footer" href="https://adalab.es/">events</a></li>
        <li><a class="link-footer" href="https://adalab.es/">reasons</a></li>
        <li><a class="link-footer" href="https://adalab.es/">tips</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="nav-footer2">
        <li><a class="link-footer" href="https://adalab.es/">twitter</a></li>
        <li><a class="link-footer" href="https://adalab.es">instagram</a></li>
        <li><a class="link-footer" href="https://adalab.es/">mastodon.social</a></li>
      </ul>
    </nav>
    <section class="copy-phraseicon">
      <p class="copy">&copy;2022</p>
      <p class="phraseicon">we<img class="icon-heart" type="image/png" src="./assets/images/orange-heart.png" alt="icono corazón"/>components</p>
    </section>
  </footer>