<footer class="footer">
  <div class="ball-footer">
    <p class="ball-arrow">
      <a class="arrow" title="Arriba" href="index.html#header"
        ><img src="./assets/images/ico-arrow.svg" alt="flecha para arriba"
      /></a>
    </p>
  </div>
  <nav>
    <ul class="nav-footer1">
      <li>
        <a
          class="link-footer"
          title="Artículos"
          href="https://elfeminismo.com/articulos-sobre-feminismo/"
          target="_blank"
          >Artículos</a
        >
      </li>
      <li>
        <a
          class="link-footer"
          title="Libros"
          href="https://www.agapea.com/Libros-feministas-imprescindibles-lnd656.htm"
          target="_blank"
          >Libros</a
        >
      </li>
      <li>
        <a
          class="link-footer"
          title="Fechas"
          href="https://www.diainternacionalde.com/relacionados/dias-importantes-mujer-calendario-feminista"
          target="_blank"
          >Fechas</a
        >
      </li>
      <li>
        <a
          class="link-footer"
          title="Razones"
          href="https://www.es.amnesty.org/en-que-estamos/blog/historia/articulo/razones-por-las-que-el-mundo-necesita-el-feminismo/"
          target="_blank"
          >Razones</a
        >
      </li>
      <li>
        <a
          class="link-footer"
          title="Referentes"
          href="https://www.harpersbazaar.com/es/cultura/ocio/g39311200/mujeres-feminismo-historia-desigualdad-sociedad-referentes/"
          target="_blank"
          >Referentes</a
        >
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="nav-footer2">
      <li>
        <a
          class="link-footer"
          title="Twitter"
          href="https://twitter.com/home"
          target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a
          class="link-footer"
          title="Instagram"
          href="https://www.instagram.com/"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a
          class="link-footer"
          title="Linkedin"
          href="https://www.linkedin.com/feed/"
          target="_blank"
          >Linkedin</a
        >
      </li>
    </ul>
  </nav>
  <section class="copy-phraseicon">
    <p class="copy">&copy;2023</p>
    <p class="phraseicon">We<i class="fa-solid fa-heart"></i>feminism poetry</p>
  </section>
</footer>
