<header class="header">
    <nav class="menu">
      <a title="Adalab" href="https://adalab.es/"><img class="img-menu" src="./assets/images/ico-menu.svg" alt="menu"/></a>
    </nav>
    <section class="title-subtitle-header">
      <h1 class="title">Anonymous proxy</h1>
      <p class="subtitle-header">In hac habitasse platea dictumst.</p>
    </section>
    <div class="ball-header">
      <p class="ball-scroll">
        <a class="scroll-down" title="Scroll" href="index.html#articles"><img src="./assets/images/ico-scroll-down.svg" alt="scroll para abajo"/></a>
      </p>
  </div>
  </header>