<hero class="hero">
  <p class="pretitle-hero">Otras maneras de usar la boca</p>
  <h2 class="title-hero">Rupi Kaur</h2>
  <p class="p-hero">
    Quiero disculparme con todas las mujeres a las que he llamado bonitas, antes
    de haberlas llamado inteligentes o valientes. Lamento si hice sonar
    complicado algo tan simple como con lo que se nace, es de lo que tienes que
    estar más orgullosa, como cuando tu espíritu ha aplastado las montañas. De
    ahora en adelante, voy a decir cosas como eres resistente o eres
    extraordinaria, no porque crea que no eres bonita, sino porque eres mucho
    más que eso.
  </p>
  <a
    class="button-white"
    title="Presentación libro"
    href="https://www.youtube.com/watch?v=B09evS03jys"
    target="_blank"
    >Go</a
  >
</hero>
