// fonts
$font-familyRoboto: "Roboto", sans-serif;
$font-familyRobotoSlab: "Roboto Slab", sans-serif;

// colors
$color-orange: #b65188;
$color-white: #fff;
$color-light-blue: #5b7885;
$color-medium-blue: #327b8c;
$color-dark-blue: #245d69;
$color-dark-letters: #86686d;
