.articles {
    // border: solid 3px magenta;
    background-color: #eff9ff;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    .title-articles {
        // border: solid 3px green;
        font-family: $font-familyRobotoSlab;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: capitalize;
        margin-top: 1.3em;
        text-align: center;
        @media all and (min-width: 768px) {
        font-size: 1.625em;
        }
        @media all and (min-width: 1280px) {
        font-size: 2em;
        }
    }
    .all-articles {
        text-align: center;
        padding-left: 4.5em;
        padding-right: 4.5em;
        @media all and (min-width: 768px) {
        // background-color: yellow;
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: auto auto auto;
        margin-inline: 2.4vw;
        }
    }
    .article {
        // border: solid 3px magenta;
        font-family: $font-familyRoboto;
        font-size: 1.05em;
        margin-top: 2.5em;
        text-align: center;
        line-height: 28px;
        @media all and (min-width: 1280px) {
        margin-inline: 1.25em;
        }
        .title-article {
            // border: solid 3px mediumblue;
            font-family: $font-familyRobotoSlab;
            font-weight: bold;
            @media all and (min-width: 768px) {
            margin-bottom: 0.7em;
            font-size: 1.3em;
            }
        }
        .text-article {
            @media all and (min-width: 768px) {
            font-size: 1.1em;
            }
        }
    }
    .button-orange {
        border: solid 3px $color-orange;
        width: 8em;
        border-radius: 50px;
        background-color: $color-orange;
        font-family: $font-familyRoboto;
        color: $color-white;
        font-size: 1.25em;
        font-weight: 500;
        text-align: center;
        padding: 0.4em;
        margin-block: 2.563em 3em;
        @media all and (min-width: 768px) {
        width: 11em;
        margin-left: 1.3em;
        }
        @media all and (min-width: 1280px) {
        width: 13em;
        height: 2.3em;
        margin-top: 8%;
        }
        &:hover {
            background-color: $color-medium-blue;
            border-color: $color-medium-blue;
        }
    }
}