.articles {
    border: solid 3px magenta;
    background-color: #eff9ff;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;

    .title-articles {
        border: solid 3px green;
        font-family: $font-familyRobotoSlab;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: capitalize;
        margin-top: 1.3em;
        padding-inline: 0.8em;
    }
    .article {
        width: 80%;
        border: solid 3px magenta;
        font-family: $font-familyRoboto;
        font-size: 1.125em;
        margin-top: 2.5em;
        .title-article {
            border: solid 3px mediumblue;
            font-family: $font-familyRobotoSlab;
            font-weight: bold;
        }
        .text-article {
            border: solid 3px rgb(199, 215, 21);
        }
    }
    .button-orange {
        border: solid 3px $color-orange;
        border-radius: 50px;
        background-color: $color-orange;
        font-family: $font-familyRoboto;
        color: $color-white;
        font-size: 1.25em;
        font-weight: 500;
        border: solid 3px green;
        padding: 0.4em 1.4em;
        margin-block: 2.563em 3em;
        margin-inline: 4.25em;
    }
}

// RESOLVER CENTRADO TEXTOS Y BUTTON

// @media and all (max-width 320px) {

// }

// @media and all (max-width 768px) {

// }