.hero{
    font-family: $font-familyRoboto;
    padding-inline: 3.5vw 3.5vw;
    margin-bottom: 8vh;
    display: inline-block;
    .pretitle-hero {
        color: $color-light-blue;
        font-size: 0.875;
        text-transform: capitalize;
        margin-top: 10%;
        margin-bottom: 2%;
    }
    .title-hero {
        font-family: $font-familyRobotoSlab;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: capitalize;
    }
    .p-hero {
        font-size: 1.125em;
        color: #4a4a4a;
        margin-top: 7%;//20px;
        margin-bottom: 15%;
        line-height: 1.875em;
    }
    .button-white {
        border: solid 3px $color-orange;
        border-radius: 50px;
        color: $color-orange;
        font-size: 1.25em;
        font-weight: 500;
        padding: 2% 8%;
    }
}

// @media and all (max-width 320px) {

// }

// @media and all (max-width 768px) {

// }