.footer {
  background-color: $color-dark-blue;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 3.5vh;
  .ball-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 100;
    transform: translateY(-50%);
    .ball-arrow{
      width: 45px;
      height: 45px;
      background-color: $color-white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrow {
        width: 24px;
        height: 20.6px;
      }
    }
  }
  .nav-footer1 {
    text-align: center;
    margin-top: 65px;
  }
  .nav-footer2{
    text-align: center;
  }
  .link-footer {
    text-decoration: none;
    font-family: $font-familyRoboto;
    color: $color-white;
  }
  .copy-phraseicon {
    text-align: center;
    .copy {
      text-transform: none;
      font-family: $font-familyRoboto;
      color: $color-white;
    }
    .phraseicon {
      text-transform: none;
      font-family: $font-familyRoboto;
      color: $color-white;
      .icon-heart {
        width: 16px;
        height: 16px;
      }
    }
  }
}