.footer {
  background-color: $color-dark-blue;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  @media all and (min-width: 768px) {
  flex-direction: row;
  padding-bottom: 5.55vh;
  }
  @media all and (min-width: 1280px) {
  padding-inline: 24vw;
  }
  .ball-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 100;
    transform: translateY(-50%);
    @media all and (min-width: 1280px) {
    padding-right: 45vw;
    }
    .ball-arrow{
      width: 2.813em;
      height: 2.813em;
      background-color: $color-white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrow {
        width: 1.5em;
        height: 1.288em;
      }
    }
  }
  .nav-footer1 {
    text-align: center;
    margin-top: 4.063em;
    line-height: 1.88;
    @media all and (min-width: 768px) {
    margin-top: 6.9vh;
    text-align: start;
    list-style: none;
    }
  }
  .nav-footer2 {
    text-align: center;
    line-height: 1.88;
    @media all and (min-width: 768px) {
    margin-top: 6.9vh;
    text-align: start;
    padding-right: 2.438em;
    list-style: none;
    }
  }
  .copy-phraseicon {
    text-align: center;
    margin-top: 5%;
    @media all and (min-width: 768px) {
    order: -1;
    text-align: start;
    padding-left: 5vw;
    margin-top: 6.9vh;
    }
    .copy {
      text-transform: none;
      font-family: $font-familyRoboto;
      color: $color-white;
      font-size: 0.875em;
    }
    .phraseicon {
      font-family: $font-familyRoboto;
      color: $color-white;
      font-size: 0.87em;
      text-transform: lowercase;
      margin-top: 3%;
      margin-bottom: 7vh;
      display: flex;
      align-items: flex-end;
      padding-inline: 32%;
      @media all and (min-width: 768px) {
      padding-left: 0vw;
      padding-right: 14vw;
      }
      @media all and (min-width: 1280px) {
      padding-right: 5.5vw;
      }
      .fa-heart {
        color: $color-orange;
        padding-inline: 0.5vw;
      }
    }
  }
}

.link-footer {
  text-decoration: none;
  font-family: $font-familyRoboto;
  color: $color-white;
  &:hover {
    color: $color-orange;
  }
}