.footer {
  border: solid 3px magenta;
  background-color: $color-dark-blue;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  @media all and (min-width: 768px) {
  flex-direction: row;
  }
  .ball-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 100;
    transform: translateY(-50%);
    .ball-arrow{
      width: 2.813em;
      height: 2.813em;
      background-color: $color-white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrow {
        width: 1.5em;
        height: 1.288em;
      }
    }
  }
  .nav-footer1 {
    border: solid 3px green;
    text-align: center;
    margin-top: 4.063em;
    line-height: 1.88;
    // @media all and (min-width: 768px) {
    //   text-decoration: none;
    //   }
  }
  .nav-footer2 {
    border: solid 3px yellow;
    text-align: center;
    line-height: 1.88;
  }
  .copy-phraseicon {
    border: solid 3px purple;
    text-align: center;
    margin-top: 5%;
    @media all and (min-width: 768px) {
    order: -1;
    text-align: start;
    padding-left: 2.5vw;
    }
    .copy {
      text-transform: none;
      font-family: $font-familyRoboto;
      color: $color-white;
      font-size: 0.875em;
    }
    .phraseicon {
      text-transform: none;
      font-family: $font-familyRoboto;
      color: $color-white;
      font-size: 0.875em;
      margin-top: 3%;
      margin-bottom: 7vh;
      .icon-heart {
        width: 0.75em;
        height: 0.75em;
      }
    }
  }
}

.link-footer {
  text-decoration: none;
  font-family: $font-familyRoboto;
  color: $color-white;
}