.header {
  height: 100vh;
  background-image: url("../images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: 180vh 200vw;
  background-position: 50%;

  .menu{
    width: 30px;
    height: 30px;
    background-color: $color-medium-blue;
    position: fixed;
    z-index: 100;
    .img-menu {
        width: 100%;
        height: 100%;
        transform: scale(0.5);
    }
  }

  .title-subtitle-header {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    letter-spacing: 0.20vw;
    .title {
      font-family: $font-familyRobotoSlab;
      color: $color-white;
      font-size: 13vw;//42px;
      font-weight: bold;
      text-transform: uppercase;
      transform: translateY(-35%);
    }
    .subtitle-header {
      font-family: $font-familyRoboto;
      color: $color-white;
      position: absolute;
      text-align: center;
    }
  }

  .ball-header {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 100;
    transform: translateY(150%);
    .ball-scroll {
      width: 37px;
      height: 37px;
      background-color: $color-white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .scroll-down {
        width: 45%;
        height: 45%;
      }
    }
  }
}