.header {
  height: 100vh;
  background-image: url("../images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: 180vh 200vw;
  background-position: 50%;
  @media all and (min-width: 768px) {
  background-size: 165vh 85vw;
  }
  @media all and (min-width: 1280px) {
  background-size: 220vh 70vw;
  background-position: 40% 80%;
  }
  .menu {
    width: 1.875em;
    height: 1.875em;
    background-color: $color-medium-blue;
    position: fixed;
    z-index: 100;
    @media all and (min-width: 768px) {
    width: 2.688em;
    height: 2.688em;
    }
    @media all and (min-width: 1280px) {
    width: 2.75em;
    height: 2.75em;
    }
    &:hover {
      background-color: $color-orange;
      width: 4em;
      height: 4em;
      transition: 1s;
    }
    .img-menu {
      width: 100%;
      height: 100%;
      transform: scale(0.5);
      @media all and (min-width: 768px) {
      transform: scale(0.35);
      }
    }
  }
  .title-subtitle-header {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    letter-spacing: 0.20vw;
    .title {
      font-family: $font-familyRobotoSlab;
      color: $color-white;
      font-size: 2.625em;
      font-weight: bold;
      text-transform: uppercase;
      transform: translateY(-35%);
      @media all and (min-width: 768px) {
      font-size: 5em;
      margin-bottom: -3%;
      }
      @media all and (min-width: 1280px) {
      font-size: 6.25em;
      padding-inline: 17vw;
      margin-bottom: -5%;
      }
    }
    .subtitle-header {
      font-family: $font-familyRoboto;
      color: $color-white;
      position: absolute;
      text-align: center;
      @media all and (min-width: 768px) {
      font-size: 1.5em;
      padding-left: 30vw;
      padding-right: 30vw;
      margin-bottom: -4%;
      }
      @media all and (min-width: 1280px) {
      margin-bottom: -2.5%;
      }
    }
  }
  .ball-header {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 100;
    transform: translateY(150%);
    .ball-scroll {
      width: 2.313em;
      height: 2.313em;
      background-color: $color-white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media all and (min-width: 768px) {
      width: 2.688em;
      height: 2.688em;
      margin-bottom: -2%;
      }
      @media all and (min-width: 1280px) {
      margin-bottom: 0.3%;
      }
      .scroll-down {
        width: 45%;
        height: 45%;
        @media all and (min-width: 768px) {
        width: 50%;
        height: 50%;
        transform: translateY(20%);
        }
      }
    }
  }
}